<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome{% block title  %} {% endblock title %}</title>
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/same.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/btn.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/icon.jpg')}}" type="image/x-icon">
</head>
<body>
    {% include 'header.html' %}
    {% block body %} {% endblock body %}
    
    {% block js %}{% endblock js %}
</body>
</html>